*{
    font-family: Barlow;
    font-size: 18px;
}

#contact-link{
    width: 110px;
    font-family: Fraunces;
    background-color: white;
    border: 1px white;
    border-radius: 25px;
    color: black;
    font-size: 14px;
    padding-top: 12px;
    padding-left: 18px;
}
#contact-link:hover{
    background-color: hsl(196, 93%, 72%);
    border: 1px hsl(196, 93%, 72%);
    color: white;
}

#nav-link{
    color: white;
}

@media screen and (max-width: 768px) {


#nav-link{
    color: hsl(210, 4%, 67%);
    margin-bottom: 20px;
}

#link-container{
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#contact-link {
    width: 120px;
    padding-left: 0px;
    background-color: hsl(51, 100%, 49%);
    color: black;

}
#contact-link:hover{
    background-color: hsl(51, 100%, 49%);
    border: 1px hsl(51, 100%, 49%);
    color: white;
}
}