h2{
height: min-content;
font-family: Fraunces;
color: hsl(210, 4%, 67%);
font-size: 20px;
letter-spacing: 5px;
}

p{
    color: hsl(213, 9%, 39%);
    font-size: 16px;
}

span{
    color:hsl(210, 4%, 67%); ;
}

h5{
    font-family: Fraunces;
}
#testrow{
    height: 100%;
    width: 70vw;
    margin: auto;
}

#wrapper{
    height: 100vh;
}

@media screen and (max-width: 768px) {
    #wrapper{
        height: 130vh;
    }

    h2{
        font-size: 18px;
        letter-spacing: 2px;
    }

    #testrow{
        width: 56vw;
        margin: auto;
    }
}
