.bluebox {
    border-radius: 25px;
    background-color: hsl(228, 45%, 44%);
    width: 220px;
    height: 310px;
    text-align: center;
    font-size: 11px;
    font-family: Hanken Grotesk;
    color: lightgray;
    position: absolute;
    top: 120px;
    left: 366px;
    z-index: 1;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.5);
    background: linear-gradient( to bottom, hsl(252, 100%, 67%),hsl(241, 81%, 54%));
}

.bluebox h2{
    margin-top: 20px;
    color: white;
}

.circle{
    border-radius: 50%;
    background-color: blueviolet;
    width: 110px;
    height: 110px;
    margin: auto;
    text-align: center;
    background:linear-gradient(to bottom, hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
}

.circle h1 {
    font-size: 45px;
    margin-bottom: 0px;
    padding-top: 20px;
    color: white;
}

.circle p {
    color: lightgray;
    margin-top: 0px;
}

.whitebox{
    border-radius: 25px;
    background-color:white;
    width: 270px;
    height: 310px;
    float: left;
    font-family: Hanken Grotesk;
    font-size: 12px;
    position: absolute;
    top: 120px;
    left: 537px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);    
}

.whitebox h3{
    margin-top: 25px;
    margin-bottom: 20px;
    padding-left:70px;
}

.results {
margin-bottom: 10px;
display: flex;
flex-direction: column;
}

.results img{
    margin-right: 5px;
    margin-left: 5px;
}

.reaction{
    width: 170px;
    height: 35px;
    border-radius: 10px;
    background-color:hsl(0, 88%, 97%);
    margin-left: 70px;
    margin-right: 20px;
    margin-bottom:10px;
    display: flex;
    align-items: center;

}

.memory{
    width: 170px;
    height: 35px;
    border-radius: 10px;
    background-color: hsl(41, 90%, 96%);
    margin-left: 70px;
    margin-right: 20px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;

}

.verbal{

    width: 170px;
    height: 35px;
    border-radius: 10px;
    background-color:hsl(165, 100%, 97%);
    margin-left: 70px;
    margin-right: 20px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;

}

.visual{
    width: 170px;
    height: 35px;
    border-radius: 10px;
    background-color: hsl(231, 100%, 97%);
    margin-left: 70px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.continuebtn{
    width: 170px;
    height: 35px;
    border-radius: 25px;
    background-color: hsl(224, 30%, 27%);
    margin-left: 70px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.continuebtn:hover {
    background: linear-gradient( to bottom, hsl(252, 100%, 67%),hsl(241, 81%, 54%));

}

.continuebtn p{
    color: white;
    text-decoration: none;
    margin-left: 62px;
}



@media only screen and (max-width: 375px)
/* a maximum width of 375px for mobile */
{

    .bluebox {
        border-radius: 25px;
        border-top-left-radius: 0;
        border-top-right-radius: 0; 
        background-color: hsl(228, 45%, 44%);
        width: 100%;
        height: 310px;
        text-align: center;
        font-size: 11px;
        font-family: Hanken Grotesk;
        color: lightgray;
        position: absolute;
        top: 0px;
        left: 333px;
        z-index: 1;
        background: linear-gradient( to bottom, hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    }


    .whitebox{
        border-radius: 25px;
        border-top-left-radius: 0;
        border-top-right-radius: 0; 

        background-color:white;
        width: 100%;
        height: 310px;
        font-family: Hanken Grotesk;
        font-size: 12px;
        position: absolute;
        top: 300px;
        left: 333px;  
    }

}
