#wrapper2 {
    height: auto;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(257, 7%, 63%);
}

#content-row {
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    top: -50px;
}

#div1 {
    width: 70vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(257, 27%, 26%);
    background-image: url(../../public/images/bg-shorten-desktop.svg);
    background-size: cover;
}

.form {
    width: 90%;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.txtbox {
    width: 580px;
    height: 50px;
    border: none;
}

.mybtn {
    font-family: Poppins;
    color: white;
    border: 1px solid hsl(180, 66%, 49%);
    background-color: hsl(180, 66%, 49%);
    height: 50px;
    width: 200px;
}

.mybtn:hover {
    background-color: hsl(180, 97%, 60%);
    border: 1px solid hsl(180, 97%, 60%);
    transition: 0.7s ease-in-out;
}

#div2 {
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* visibility: hidden; */
}


.copy {
    color: white;
    font-family: Poppins;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#setLink {
    color: black;

}

.inner-div {
    color: hsl(180, 66%, 49%);
    font-family: Poppins;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.copybtn {
    color: white;
    font-family: Poppins;
    width: 100px;
    height: 40px;
    border: 1px solid hsl(180, 66%, 49%);
    background-color: hsl(180, 66%, 49%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {

    #content-row {
        position: relative;
        top: -90px;
    }

    #div1 {
        width: 90vw;
        height: 200px;
       

        display: flex;
        justify-content: center;
        align-items: center;
       
        background-color: hsl(257, 27%, 26%);
        background-image: url(../../public/images/bg-shorten-mobile.svg);
        background-size: contain;
    }

    .form {
        width: 90%;
        height:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .txtbox {
        width: 98%;
        height: 50px;
        border: none;
    }
    
    .mybtn{
        height: 50px;
        width: 98%;
    }


}