.header-container {
    background-image: url('../../public/images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    object-fit:contain;
}

.header-text-wrapper {
    border: 2px  solid white;
    color: white;
    font-family: Josefin Sans;
    font-size: 64px;
    width:570px;
    height: 250px;
    position: absolute;
    top: 200px;
    left: 150px;
    padding-top: 30px;
    padding-left: 30px;
}

 
@media screen and (max-width: 960px) {
    .header-container {
        background-image: url('../../public/images/mobile/image-hero.jpg');
        height: 85vh;
    }
    

    

    .header-text-wrapper {
        border: 2px  solid white;
        color: white;
        font-family: Josefin Sans;
        font-size: 51px;

        position: absolute;
        top: 270px;
        left: 22px;
        width:370px;
        height: 235px;
        
        padding-top: 20px;
        padding-left: 12px;
        
        
    }
}