.hero-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hero-image{
    position: absolute;
    top: 800px;
    left: 135px;
    width:600px;
    height: 411px;
    background-image: url(../../public/images/desktop/image-interactive.jpg);
    background-size: contain;
}

.text-wrapper{
    position: absolute;
    top: 950px;
    left: 600px;
    width:600px;
    height: 300px;
    background-color: white;
}


.text-wrapper > h1 {
    font-family: Josefin Sans;
    font-size: 50px;
    font-weight: 300;
    margin-top: 40px;
    margin-left: 65px;
}

.text-wrapper > p {
    font-family: Alata;
    color: hsl(0, 0%, 55%);
    font-size: 17px;
    margin-top: 25px;
    margin-left: 65px;
    line-height: 25px;
}

@media screen and (max-width: 960px) {
    .wrapper {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-image{
        position: absolute;
        top: 800px;
        left: 27px;
        width:360px;
        height: 247px;
        background-image: url(../../public/images/mobile/image-interactive.jpg);
    }

    .text-wrapper {
        position: absolute;
        top: 1050px;
        left: 27px;
        width:360px;
        height: 411px;
        text-align: center;

    }
    .text-wrapper > h1 {
        font-size: 36px;
        font-weight: 300;
        margin-top: 40px;
        margin-left: 0px;
    }
    
    .text-wrapper > p {
        font-size: 18px;
        margin-top: 25px;
        margin-left: 0px;
        line-height: 25px;
    }


}