#wrapper-2 {
    width: 100%;
    display: flex;
    justify-content: center;
}
       
#search-div {
    height:20vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

form {
    width: 40%;
    box-shadow: -10px 0 15px rgba(0, 0, 0, 0.5);;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#searchbtn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    height: 50px;
    width: 10%;
    outline: none;
}

#searchbar {
    /* box-shadow: 10px 10px 10px 15px rgba(0, 0, 0, 0.5); */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 50px;
    border: none;
    outline: none;
    width: 90%;
}

#dropdown {
    height: 50px;
    width: 200px;
    border-radius: 5px;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow:-10px 0 15px rgba(0, 0, 0, 0.5);;
}

#wrapper-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.myrow1 {
    width: 90%;
}

#country-col {
    display: flex;
    justify-content: center;
}

/* .dropdown-menu {
    width: 100%;
    margin-top: 5px;
} */

#mode-selector {
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    #search-div {
        height:20vh;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        margin-bottom: 30px;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #searchbtn {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: white;
        border: none;
        height: 50px;
        width: 20%;
        border: none;
    }
    
    #searchbar {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 50px;
        border: none;
        width: 80%;
    }

}
