body{
    background-color: lightgray;
}

.box{
    background-color: white;
    width: 580px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    border-radius: 3%;
    border-bottom-right-radius: 25%;

}

form {
    display: flex;
    flex-direction: row;
}

form input {
    width: 100px;
    height: 30px;
    margin-top: 10px;
}

form label {
    font-size: 11px;
    color: lightgray;
}

.day {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 20px;
}


.month {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.year{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.text {
    display: flex;
    flex-direction: row;
    height: 60px;
    margin-left: 30px;
    font-size: 54px;
    font-family: Poppins;
}

.text h1{
    margin: auto;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
    color: purple;
}

.horzline{
        display: flex;
        flex-direction: row;
}

.results {
    margin-top: -50px;
}

hr {
    width: 450px;
    height: 0px;
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 0px;
}

button {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-left: 0px;
    background-color: blue;
}